In [355]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [356]:
df = pd.DataFrame(pd.read_csv('scraped_and_full_data.csv'))

In [357]:
df.columns

Index(['Unnamed: 0', 'date', 'companyId', 'jobId', 'country', 'stateProvince',
       'city', 'avgOverallRating', 'numReviews', 'industry', 'normTitle',
       'normTitleCategory', 'descriptionCharacterLength',
       'descriptionWordCount', 'experienceRequired', 'estimatedSalary',
       'salaryCurrency', 'jobLanguage', 'supervisingJob', 'licenseRequiredJob',
       'educationRequirements', 'jobAgeDays', 'clicks', 'localClicks', 'State',
       'Number of Residents in Millions', '2017rate', 'Index', 'Grocery',
       'Housing', 'Utilities', 'Transportation', 'Heath', 'Misc.'],
      dtype='object')

Subset to only needed columns and subset NA values.

In [383]:
unneeded = ['Unnamed: 0', 'date', 'companyId', 'country', 'avgOverallRating', 'numReviews', 'descriptionCharacterLength',
       'descriptionWordCount', 'experienceRequired','salaryCurrency', 'jobLanguage', 'supervisingJob', 'licenseRequiredJob',
       'educationRequirements', 'jobAgeDays', 'clicks', 'localClicks', '2017rate', 
       'clickRatio', "industry"]

In [384]:
df_important = df.drop([col for col in unneeded if col in df], axis = 1)

In [361]:
len(df_important)

11388500

In [362]:
df_important = df_important.dropna(subset=["normTitleCategory"])
df_important.head()

,jobId,stateProvince,city,normTitle,normTitleCategory,estimatedSalary,State,Number of Residents in Millions,Index,Grocery,Housing,Utilities,Transportation,Heath,Misc.
0,job0000002,AZ,Peoria,customer service representative,customer,22800,Arizona,7.02,95.6,100.1,89.5,98.3,99.6,98.1,96.7
1,job0000416,AZ,Dewey-Humboldt,medical assistant,medtech,27000,Arizona,7.02,95.6,100.1,89.5,98.3,99.6,98.1,96.7
2,job0000420,AZ,Scottsdale,executive assistant to the president,admin,43700,Arizona,7.02,95.6,100.1,89.5,98.3,99.6,98.1,96.7
3,job0000420,AZ,Scottsdale,executive assistant to the president,admin,43700,Arizona,7.02,95.6,100.1,89.5,98.3,99.6,98.1,96.7
4,job0000420,AZ,Scottsdale,executive assistant to the president,admin,43700,Arizona,7.02,95.6,100.1,89.5,98.3,99.6,98.1,96.7

In [363]:
(df_important.drop_duplicates()["jobId"].value_counts() == 1).value_counts()

True     371732
False     16358
Name: jobId, dtype: int64

In [364]:
df_important = df_important.drop_duplicates()
subset = df_important["jobId"].value_counts() == 1
subset = list(subset[subset == True].keys())
df_all_listings = df_important.loc[df_important["jobId"].isin(subset)]

In [366]:
len(df_all_listings)
#Dealing with 371,732 individual job listings

371732

We will group by stateProvince to get the average cost of living index for each state.

In [367]:
state_cost_index = pd.DataFrame(df_all_listings.groupby(["stateProvince"])["Index"].mean().reset_index())
state_cost_index

   stateProvince  Index
0             AK  131.3
1             AL   90.3
2             AR   87.8
3             AZ   95.6
4             CA  141.0
5             CO  102.3
6             CT  125.7
7             DE  102.9
8             FL   99.3
9             GA   90.8
10            HI  188.3
11            IA   91.3
12            ID   92.2
13            IL   97.2
14            IN   91.1
15            KS   90.2
16            KY   93.7
17            LA   94.4
18            MA  132.9
19            MD  128.7
20            ME  113.6
21            MI   89.7
22            MN   99.7
23            MO   89.9
24            MS   85.1
25            MT  100.4
26            NC   94.6
27            ND   99.7
28            NE   92.9
29            NH  115.0
30            NJ  121.9
31            NM   94.9
32            NV  104.7
33            NY  132.5
34            OH   92.3
35            OK   89.2
36            OR  129.3
37            PA  102.0
38            RI  123.6
39            SC   99.5
40            SD   99.5
41            TN   89.8
42            TX   91.2
43            UT   95.7
44            VA  102.2
45            VT  120.7
46            WA  107.1
47            WI   96.2
48            WV   95.9
49            WY   95.6

In [368]:
job_state_avgsal= pd.DataFrame(df_all_listings.groupby(["stateProvince", "normTitleCategory"])["estimatedSalary"].mean()).reset_index()
job_counts_typestate = pd.DataFrame(None)
job_counts_typestate["Job Category Frequency"]= df_all_listings.groupby(["stateProvince", "normTitleCategory"])["normTitleCategory"].count()
job_counts_typestate = job_counts_typestate.reset_index()

In [373]:
###Here df_sub_total is the final product dataset we will need 
df_sub_total = job_state_avgsal.merge(job_counts_typestate)
df_sub_total = df_sub_total.merge(state_cost_index, on = "stateProvince")
df_sub_total["estimatedSalary/Index"] = df_sub_total["estimatedSalary"]/df_sub_total["Index"]
df_sub_total

,stateProvince,normTitleCategory,estimatedSalary,Job Category Frequency,Index,estimatedSalary/Index
0,AK,accounting,67490.000000,10,131.3,514.013709
1,AK,admin,34445.238095,42,131.3,262.339970
2,AK,arts,60933.333333,3,131.3,464.077177
3,AK,aviation,58400.000000,5,131.3,444.782940
4,AK,childcare,27492.857143,14,131.3,209.389620
5,AK,construction,41337.500000,8,131.3,314.832445
6,AK,customer,26790.909091,33,131.3,204.043481
7,AK,driver,36328.571429,14,131.3,276.683712
8,AK,education,44733.333333,15,131.3,340.695608
9,AK,engchem,90700.000000,1,131.3,690.784463
10,AK,engcivil,75600.000000,1,131.3,575.780655
11,AK,engelectric,89000.000000,1,131.3,677.837014
12,AK,engid,40400.000000,1,131.3,307.692308
13,AK,finance,51200.000000,2,131.3,389.946687
14,AK,food,23780.000000,20,131.3,181.111957
15,AK,hr,53040.000000,5,131.3,403.960396
16,AK,install,39012.500000,48,131.3,297.124905
17,AK,insurance,40980.000000,5,131.3,312.109673
18,AK,management,56030.769231,39,131.3,426.738532
19,AK,manufacturing,26958.333333,12,131.3,205.318609
20,AK,meddental,38100.000000,3,131.3,290.175171
21,AK,meddr,136803.703704,27,131.3,1041.917012
22,AK,media,39000.000000,1,131.3,297.029703
23,AK,medinfo,35620.000000,5,131.3,271.287129
24,AK,mednurse,67868.518519,108,131.3,516.896561
25,AK,medtech,50666.666667,27,131.3,385.884742
26,AK,military,43800.000000,2,131.3,333.587205
27,AK,personal,36966.666667,3,131.3,281.543539
28,AK,pharmacy,65228.571429,7,131.3,496.790338
29,AK,project,68325.000000,8,131.3,520.373191
...,...,...,...,...,...,...
2690,WY,hospitality,26666.666667,3,95.6,278.940028
2691,WY,hr,39100.000000,2,95.6,408.995816
2692,WY,install,36812.500000,40,95.6,385.067992
2693,WY,insurance,35100.000000,3,95.6,367.154812
2694,WY,legal,64400.000000,1,95.6,673.640167
2695,WY,management,40350.000000,34,95.6,422.071130
2696,WY,manufacturing,33500.000000,2,95.6,350.418410
2697,WY,marketing,43966.666667,3,95.6,459.902371
2698,WY,meddr,151227.272727,22,95.6,1581.875238
2699,WY,medinfo,30375.000000,4,95.6,317.730126
2700,WY,mednurse,65853.750000,80,95.6,688.846757
2701,WY,medtech,49963.636364,22,95.6,522.632180
2702,WY,military,40750.000000,2,95.6,426.255230
2703,WY,personal,33150.000000,4,95.6,346.757322
2704,WY,pharmacy,68075.000000,4,95.6,712.081590
2705,WY,project,87025.000000,4,95.6,910.303347
2706,WY,protective,30300.000000,3,95.6,316.945607
2707,WY,realestate,33600.000000,2,95.6,351.464435
2708,WY,retail,25154.761905,42,95.6,263.125125
2709,WY,sales,42490.000000,20,95.6,444.456067
2710,WY,sanitation,26228.571429,7,95.6,274.357442
2711,WY,science,71250.000000,2,95.6,745.292887
2712,WY,service,39794.444444,18,95.6,416.259879
2713,WY,sports,31466.666667,3,95.6,329.149233
2714,WY,techhelp,58240.000000,5,95.6,609.205021
2715,WY,techsoftware,103800.000000,2,95.6,1085.774059
2716,WY,therapy,66411.764706,17,95.6,694.683731
2717,WY,uncategorized,28264.705882,17,95.6,295.655919
2718,WY,veterinary,62500.000000,1,95.6,653.765690
2719,WY,warehouse,27110.000000,10,95.6,283.577406

The top ratio value for every state was for medical doctors (meaning it is most sustainable to be a doctor in any state), but not all doctors have at least 10 entries in each state. Also for the purpose of true inference of more sustainable situations in each state, we chose to exclude medical doctors from the analysis and look at the top 3 greatest salary/costOfLivingIndex ratios.

In [393]:
df_branch = df_sub_total[df_sub_total["normTitleCategory"] != "meddr"]
df_branch = df_branch[df_branch["Job Category Frequency"] >= 10]

In [395]:
max_ratio = df_branch.groupby(["stateProvince"])["estimatedSalary/Index"].nlargest(3).reset_index()
df_best_ratio_by_state = df_branch.merge(max_ratio)
df_best_ratio_by_state

,stateProvince,normTitleCategory,estimatedSalary,Job Category Frequency,Index,estimatedSalary/Index,level_1
0,AK,accounting,67490.000000,10,131.3,514.013709,0
1,AK,mednurse,67868.518519,108,131.3,516.896561,24
2,AK,therapy,72500.000000,20,131.3,552.170602,42
3,AL,engcivil,84842.105263,19,90.3,939.558198,59
4,AL,engid,81550.000000,32,90.3,903.100775,61
5,AL,techsoftware,86101.204819,83,90.3,953.501714,96
6,AR,engid,80318.181818,11,87.8,914.785670,115
7,AR,techinfo,79990.909091,22,87.8,911.058190,147
8,AR,techsoftware,86741.860465,43,87.8,987.948297,148
9,AZ,engid,88557.407407,54,95.6,926.332713,169
10,AZ,engmech,74742.857143,21,95.6,781.829050,170
11,AZ,techsoftware,87557.798165,218,95.6,915.876550,205
12,CA,engcivil,85521.917808,73,141.0,606.538424,224
13,CA,engid,90557.808219,365,141.0,642.253959,226
14,CA,techsoftware,101673.944563,2345,141.0,721.091805,262
15,CO,arch,88610.526316,19,102.3,866.183053,271
16,CO,engid,87388.888889,90,102.3,854.241338,283
17,CO,techsoftware,95007.246377,276,102.3,928.712086,318
18,CT,project,81965.714286,35,125.7,652.074099,361
19,CT,science,84355.000000,20,125.7,671.081941,367
20,CT,techsoftware,90275.939850,133,125.7,718.185679,373
21,DE,project,84125.000000,16,102.9,817.541302,416
22,DE,techhelp,70580.000000,15,102.9,685.908649,426
23,DE,techsoftware,92293.103448,58,102.9,896.920344,428
24,FL,engid,83231.967213,122,99.3,838.186981,449
25,FL,project,78189.743590,234,99.3,787.409301,472
26,FL,techsoftware,89914.174757,515,99.3,905.480108,485
27,GA,engcivil,89091.780822,73,90.8,981.187013,504
28,GA,engid,88141.025641,78,90.8,970.716141,506
29,GA,techsoftware,95433.593750,512,90.8,1051.030768,542
...,...,...,...,...,...,...,...
120,SD,techinfo,62210.000000,10,99.5,625.226131,2230
121,SD,techsoftware,78087.500000,16,99.5,784.798995,2231
122,SD,therapy,71876.000000,25,99.5,722.371859,2232
123,TN,engmech,74481.818182,11,89.8,829.418911,2253
124,TN,project,74144.680851,47,89.8,825.664597,2275
125,TN,techsoftware,88085.123967,121,89.8,980.903385,2288
126,TX,engcivil,83673.770492,61,91.2,917.475554,2307
127,TX,engid,86860.800000,125,91.2,952.421053,2309
128,TX,techsoftware,94113.442325,1101,91.2,1031.945640,2345
129,UT,engid,97088.235294,17,95.7,1014.506116,2366
130,UT,project,68420.000000,30,95.7,714.942529,2389
131,UT,techsoftware,90780.188679,106,95.7,948.591313,2401
132,VA,engid,92621.428571,182,102.2,906.276209,2422
133,VA,engmech,88764.864865,37,102.2,868.540752,2423
134,VA,techsoftware,95645.144357,762,102.2,935.862469,2457
135,VT,mednurse,63693.827160,81,120.7,527.703622,2491
136,VT,techsoftware,79406.250000,16,120.7,657.881110,2508
137,VT,therapy,58083.333333,24,120.7,481.220657,2509
138,WA,engid,88469.491525,59,107.1,826.045673,2529
139,WA,project,85271.631206,141,107.1,796.187033,2551
140,WA,techsoftware,102554.074074,540,107.1,957.554380,2563
141,WI,arch,83107.142857,14,96.2,863.899614,2572
142,WI,engcivil,78233.333333,15,96.2,813.236313,2582
143,WI,techsoftware,86470.769231,130,96.2,898.864545,2620
144,WV,techhelp,71372.727273,11,95.9,744.241160,2669
145,WV,techsoftware,96684.615385,13,95.9,1008.181599,2671
146,WV,therapy,68933.333333,30,95.9,718.804310,2672
147,WY,mednurse,65853.750000,80,95.6,688.846757,2700
148,WY,medtech,49963.636364,22,95.6,522.632180,2701
149,WY,therapy,66411.764706,17,95.6,694.683731,2716

In [370]:
#here are the average estimated salaries across states
df_sub_total.groupby(["normTitleCategory"])["estimatedSalary"].mean().sort_values(ascending = False)

normTitleCategory
meddr            146420.562942
techsoftware      89591.707984
engid             79828.372474
engmech           77271.812512
project           76976.175286
engcivil          75072.702529
engelectric       73459.449902
arch              72796.732755
engchem           72138.726330
techinfo          70342.875791
math              70016.535641
socialscience     65144.907925
legal             63859.646301
therapy           63792.779956
techhelp          63773.148390
mednurse          58330.543536
finance           56900.711950
aviation          55217.380858
accounting        54643.264059
hr                53991.581480
science           53801.780788
meddental         53298.364104
marketing         50550.755707
management        50166.289266
sales             47845.572643
insurance         47748.903444
arts              47668.505384
pharmacy          47044.262253
military          46991.285181
media             46754.543624
realestate        46588.807080
tech              44290.530303
driver            44037.171985
education         43440.329460
medtech           43187.776140
transport         42656.903440
service           39696.351673
medinfo           38866.381735
mining            37918.402778
personal          37848.208347
agriculture       37513.276491
sports            37332.284976
install           37242.345120
construction      35663.991969
admin             35031.735972
uncategorized     34163.048496
protective        32436.205886
manufacturing     31729.274928
veterinary        31128.188435
hospitality       30841.514486
childcare         27499.164153
customer          27210.172964
retail            27195.110069
warehouse         25089.220985
food              24961.977478
care              24795.002788
sanitation        24570.931852
Name: estimatedSalary, dtype: float64

In [371]:
#Here are the total number of jobs being listed in each state in our data
df_sub_total.groupby(["stateProvince"])["Job Category Frequency"].sum().sort_values(ascending = False)

stateProvince
CA    43107
TX    30291
FL    21577
NY    20378
PA    16450
IL    15994
OH    14502
VA    12462
GA    12136
NC    11996
MI    11004
MA    10657
NJ    10149
WA     9066
CO     8635
IN     8618
MN     8509
AZ     8149
MD     8107
WI     7581
TN     7517
MO     7119
SC     5649
OR     4734
KY     4533
AL     4172
CT     3994
IA     3832
OK     3709
UT     3545
LA     3436
KS     3408
NV     2972
AR     2620
NE     2200
NM     2091
NH     2017
MS     1948
WV     1606
ME     1537
ID     1392
DE     1282
RI     1163
HI     1114
SD      962
MT      945
ND      889
VT      758
AK      671
WY      549
Name: Job Category Frequency, dtype: int64