In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [35]:
df = pd.DataFrame(pd.read_csv('scraped_and_full_data.csv'))

In [36]:
df.columns

Index(['Unnamed: 0', 'date', 'companyId', 'jobId', 'country', 'stateProvince',
       'city', 'avgOverallRating', 'numReviews', 'industry', 'normTitle',
       'normTitleCategory', 'descriptionCharacterLength',
       'descriptionWordCount', 'experienceRequired', 'estimatedSalary',
       'salaryCurrency', 'jobLanguage', 'supervisingJob', 'licenseRequiredJob',
       'educationRequirements', 'jobAgeDays', 'clicks', 'localClicks', 'State',
       'Number of Residents in Millions', '2017rate', 'Index', 'Grocery',
       'Housing', 'Utilities', 'Transportation', 'Heath', 'Misc.'],
      dtype='object')

Get rid of unneeded columns, and drop NA values.

In [37]:
unneeded = ['Unnamed: 0', 'date', 'companyId', 'country', 'avgOverallRating', 'numReviews', 'descriptionCharacterLength',
       'descriptionWordCount', 'experienceRequired','salaryCurrency', 'jobLanguage', 'supervisingJob', 'licenseRequiredJob',
       'jobAgeDays', 'Index', 'Grocery', "industry", "city", "estimatedSalary"
       'Housing', 'Utilities', 'Transportation', 'Heath', 'Misc.', 'normTitle',
       'normTitleCategory']

In [45]:
df_important = df.drop([col for col in unneeded if col in df], axis = 1)
df_important.head()

,jobId,stateProvince,estimatedSalary,educationRequirements,clicks,localClicks,State,Number of Residents in Millions,2017rate,Housing
0,job0000002,AZ,22800,High School,12,2,Arizona,7.02,4.9,89.5
1,job0000416,AZ,27000,None,24,2,Arizona,7.02,4.9,89.5
2,job0000420,AZ,43700,None,20,2,Arizona,7.02,4.9,89.5
3,job0000420,AZ,43700,None,12,1,Arizona,7.02,4.9,89.5
4,job0000420,AZ,43700,None,17,1,Arizona,7.02,4.9,89.5

In [46]:
df_important = df_important.dropna(subset=["educationRequirements"])
df_important.head()

,jobId,stateProvince,estimatedSalary,educationRequirements,clicks,localClicks,State,Number of Residents in Millions,2017rate,Housing
0,job0000002,AZ,22800,High School,12,2,Arizona,7.02,4.9,89.5
1,job0000416,AZ,27000,None,24,2,Arizona,7.02,4.9,89.5
2,job0000420,AZ,43700,None,20,2,Arizona,7.02,4.9,89.5
3,job0000420,AZ,43700,None,12,1,Arizona,7.02,4.9,89.5
4,job0000420,AZ,43700,None,17,1,Arizona,7.02,4.9,89.5

Here we will create a new dataframe with columns based on calculations from the data from the total clicks dataframe.

In [56]:
df_total_clicks = pd.DataFrame(None)
df_total_clicks["Total Job Clicks"] = df_important.groupby(["jobId"])["clicks"].sum()
df_total_clicks["Total Job Local Clicks"] = df_important.groupby(["jobId"])["localClicks"].sum()

In [57]:
df_total_clicks = df_total_clicks.reset_index()
df_total_clicks["localClicks/totalClicks"] = df_total_clicks["Total Job Local Clicks"]/df_total_clicks["Total Job Clicks"]

,jobId,Total Job Clicks,Total Job Local Clicks,localClicks/totalClicks
0,job0000002,12,2,0.166667
1,job0000003,15,3,0.200000
2,job0000005,25,8,0.320000
3,job0000006,33,1,0.030303
4,job0000008,87,9,0.103448

In [59]:
unemployment = pd.DataFrame(df_important.groupby(["stateProvince"])["2017rate"].mean()).reset_index()
unemployment.head()

   stateProvince  2017rate
0             AK       7.2
1             AL       4.4
2             AR       3.7
3             AZ       4.9
4             CA       4.8
5             CO       2.8
6             CT       4.7
7             DE       4.6
8             FL       4.2
9             GA       4.7
10            HI       2.4
11            IA       3.1
12            ID       3.2
13            IL       5.0
14            IN       3.5
15            KS       3.6
16            KY       4.9
17            LA       5.1
18            MA       3.7
19            MD       4.1
20            ME       3.3
21            MI       4.6
22            MN       3.5
23            MO       3.8
24            MS       5.1
25            MT       4.0
26            NC       4.6
27            ND       2.6
28            NE       2.9
29            NH       2.7
30            NJ       4.6
31            NM       6.2
32            NV       5.0
33            NY       4.7
34            OH       5.0
35            OK       4.3
36            OR       4.1
37            PA       4.9
38            RI       4.5
39            SC       4.3
40            SD       3.3
41            TN       3.7
42            TX       4.3
43            UT       3.2
44            VA       3.8
45            VT       3.0
46            WA       4.8
47            WI       3.3
48            WV       5.2
49            WY       4.2

We will then create dataframes for the educational requirements of job types in every state, as well as the attention given to different jobs in each state scaled by state unemployment.

In [89]:
job_state = pd.DataFrame(None)
job_state["Ones"] = df_important.groupby(["jobId"])["stateProvince"].value_counts()
job_state = job_state.reset_index()
job_state = job_state.drop(['Ones'], axis = 1)

In [94]:
edu = pd.DataFrame(None)
edu["Ones"] = df_important.groupby(["jobId"])["educationRequirements"].value_counts()
edu = edu.reset_index()
edu = edu.drop(["Ones"], axis = 1)

In [99]:
merge1 = job_state.merge(unemployment)
merge2 = merge1.merge(edu)
df_individual_jobs = merge2.merge(df_total_clicks)

In [107]:
df_edu_clicks_by_state = pd.DataFrame(None)
df_edu_clicks_by_state["Average Local:Total Click Ratio"] = df_individual_jobs.groupby(["stateProvince", "educationRequirements"])["localClicks/totalClicks"].mean()
df_edu_clicks_by_state = df_edu_clicks_by_state.reset_index()
df_edu_clicks_by_state = df_edu_clicks_by_state.merge(unemployment)
df_edu_clicks_by_state["Average Local:Total Click Ratio/State Unemployment"] = df_edu_clicks_by_state["Average Local:Total Click Ratio"]/df_edu_clicks_by_state["2017rate"]
df_edu_clicks_by_state

,stateProvince,educationRequirements,Average Local:Total Click Ratio,2017rate,Average Local:Total Click Ratio/State Unemployment
0,AK,High School,0.184546,7.2,0.025631
1,AK,Higher Education,0.176235,7.2,0.024477
2,AK,None,0.184500,7.2,0.025625
3,AL,High School,0.170290,4.4,0.038702
4,AL,Higher Education,0.165083,4.4,0.037519
5,AL,None,0.170260,4.4,0.038695
6,AR,High School,0.163654,3.7,0.044231
7,AR,Higher Education,0.143603,3.7,0.038812
8,AR,None,0.160872,3.7,0.043479
9,AZ,High School,0.193026,4.9,0.039393
10,AZ,Higher Education,0.173912,4.9,0.035492
11,AZ,None,0.187839,4.9,0.038334
12,CA,High School,0.154276,4.8,0.032141
13,CA,Higher Education,0.128008,4.8,0.026668
14,CA,None,0.154328,4.8,0.032152
15,CO,High School,0.185892,2.8,0.066390
16,CO,Higher Education,0.161167,2.8,0.057560
17,CO,None,0.175507,2.8,0.062681
18,CT,High School,0.116987,4.7,0.024891
19,CT,Higher Education,0.092597,4.7,0.019701
20,CT,None,0.118755,4.7,0.025267
21,DE,High School,0.145312,4.6,0.031589
22,DE,Higher Education,0.121125,4.6,0.026331
23,DE,None,0.156101,4.6,0.033935
24,FL,High School,0.198677,4.2,0.047304
25,FL,Higher Education,0.165098,4.2,0.039309
26,FL,None,0.184995,4.2,0.044046
27,GA,High School,0.157469,4.7,0.033504
28,GA,Higher Education,0.144864,4.7,0.030822
29,GA,None,0.161769,4.7,0.034419
...,...,...,...,...,...
120,SD,High School,0.252207,3.3,0.076426
121,SD,Higher Education,0.233607,3.3,0.070790
122,SD,None,0.205553,3.3,0.062289
123,TN,High School,0.176538,3.7,0.047713
124,TN,Higher Education,0.170018,3.7,0.045951
125,TN,None,0.180800,3.7,0.048865
126,TX,High School,0.220308,4.3,0.051235
127,TX,Higher Education,0.192987,4.3,0.044881
128,TX,None,0.203259,4.3,0.047270
129,UT,High School,0.161151,3.2,0.050360
130,UT,Higher Education,0.152757,3.2,0.047736
131,UT,None,0.159112,3.2,0.049722
132,VA,High School,0.163794,3.8,0.043104
133,VA,Higher Education,0.115454,3.8,0.030383
134,VA,None,0.160909,3.8,0.042345
135,VT,High School,0.117180,3.0,0.039060
136,VT,Higher Education,0.101123,3.0,0.033708
137,VT,None,0.110000,3.0,0.036667
138,WA,High School,0.173668,4.8,0.036181
139,WA,Higher Education,0.151610,4.8,0.031585
140,WA,None,0.163370,4.8,0.034035
141,WI,High School,0.173884,3.3,0.052692
142,WI,Higher Education,0.158130,3.3,0.047918
143,WI,None,0.167569,3.3,0.050778
144,WV,High School,0.148450,5.2,0.028548
145,WV,Higher Education,0.153002,5.2,0.029424
146,WV,None,0.148708,5.2,0.028598
147,WY,High School,0.294241,4.2,0.070057
148,WY,Higher Education,0.211322,4.2,0.050315
149,WY,None,0.197395,4.2,0.046999

In [108]:
df_edu_clicks_by_state.to_csv("edu_click_ratio_by_state.csv")